@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500&display=swap');

*{
	margin: 0;
	padding: 0;
  font-family: 'Sarabun', sans-serif;
}

.container{
	width: 100%;
  overflow: hidden;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
	gap: 10px;
  transition: all 0.7s;
  color: white;
}

label{
  display: block;
}

.button-next{
  font-size: 1rem;
  padding: 8px;
  width: 100px;
  border: 2px solid white;
  background-color: #00C851;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s;
}
.button-next:hover{
  transform: scale(1.05);
  background: #007E33;
  color: #fff;
}

.button-Previous{
  font-size: 1rem;
  padding: 8px;
  width: 100px;
  border: 2px solid white;
  background-color: #33b5e5;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s;
}
.button-Previous:hover{
  transform: scale(1.05);
  background: #0099CC;
  color: #fff;
}
.button-submit-score{
  font-size: 1rem;
  padding: 8px;
  width: 100px;
  border: 2px solid white;
  background-color: #ff4444;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.1s;
}
.button-submit-score:hover{
  transform: scale(1.05);
  background: #CC0000;
  color: #fff;
}